@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
a{
  .popover{
    color:#333;
  }
}
.input-group-btn{
    vertical-align: bottom;
}

section{
	font-family: 'Open Sans', sans-serif;
  .fondo-comercio{
    opacity: .2;
    position: fixed;
    z-index: -1;
    padding: 0;
    margin-top: -3%;
  }
}

.dropdown.active,.dropdown.open{
    a.uib-dropdown-toggle.dropdown-toggle{
      background:#555;
    }
}
.single.active{
  a{
    background:#555 !important;
  }
}

.btn-orange {
  background-color: #F18E00;
  color:white!important;
}
.btn-gray {
  background-color: #BCBCBC;
  color:white!important;
  i{
    color:white;
  }
}


h4.title{
  font-family: 'Roboto Slab', sans-serif;
  color: #F18E00;
}
h4.title.left{
  text-align: left;
  right: 30%;
}
.slick-prev,.slick-next{
  background-color: black!important;
}
ul.slick-dots{
  li{
    background-color: #AAA;
    height: 0;
    button{
      height: 30px;
      width: 30px;
    }
  }
  li button:before{
    content: '__________';
  }
  .slick-active{
    background-color: #F18E00;
    height: 8px;
    top: 9px;
    width: 33px;
    margin-right: -5px;
  }
  li.slick-active button:before{
    content: none;
  }
}
.progress-border{
  border-top: 1px solid #BCBCBC;
  border-bottom: 1px solid #BCBCBC;
  padding-top: 13px;
  height: 48px;
  margin-bottom: 15px;
}
.upload-excel{
  background-image: url('/modules/core/client/img/buttons/uploadExcel.png');
  height: 34px;
  width: 35px;
}
uib-accordion{
  a:hover, a:focus{
    text-decoration:none;
  }
}
.form-group{
  margin-left: 0!important;
  margin-right: 0!important;
}
fieldset{
  fieldset{
    margin: 20px -15px 40px -15px;
    border: none;
    border-top: 1px solid #ccc;
    border-radius: 0;
    .form-name{
      top: -25px;
      display: inline-block;
      position: relative;
      background: white;
    }
    .form-submit{
      bottom: -20px;
      position: relative;
      background: white;
      float: right;
    }
    .form-group{
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.btn-orange {
  background-color: #F18E00;
  color:white;
}
.panel.panel-default{
  text-decoration: none;
  border-radius: 0;
  margin: 0;
  .panel-heading{

    h4{
      @include transition(font-size .5s .7s);
      font-size: inherit;
    }
    .right-triangle,.circle-number{
      @include transition(opacity .5s);
      opacity: 1;
      font-size: 15px;
    }
    background-image: none;
    background-color: #e2e2e2;
    color: #777;
  }
  .panel-heading:hover{
    h4{
      @include transition(font-size .5s);
      font-size: 20px;
    }
    .right-triangle,.circle-number{
      opacity: 0.2;
    }
  }
}
.panel.panel-default.panel-open {
  .panel-heading {
    background-color: white;
    border-bottom: 2px solid #F18E00;
  }
  .right-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #F18E00;
    position: absolute;
    right: 9%;
    margin-top: -2%;
  }
}
.miniatures{
  float:left;
  /*margin-left: 1%;*/
  text-align: center;
  position:relative;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  .miniature{
    @include transition(opacity 1s);
    width: 160px;
    height: 160px;
    img{
      height:inherit;
      width:inherit
    }
    .triangle{
      bottom: 4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent #F18E00 transparent;
      margin-left: 0;
      margin-right: 0;
      margin: auto;
      position: relative;
    }
  }
  i{
    opacity: .8;
    /*color:#F18E00;*/
    font-size: 20px;
    cursor:pointer;
  }

}
.miniatures:hover{
  .miniature{
    opacity: 0.3;
  }
  i{
    @include transition(opacity 1s);
    opacity: 1;
  }
}
.miniature-selected{
  border: 5px solid #F18E00;
}

.center{
  position: absolute;
  top: 45%;
  left: 0;
  /*right: 0;*/
  right: 20%;
  margin: auto;
}

.borders{
  line-height: 10px;
  border-left: 1px solid #aaa;
  padding-left: 5px;
}
.borders-right{
  line-height: 10px;
  border-right: 1px solid #aaa;
  padding-right: 5px;
}
.table-head{
  background: #aaa;
  height: 30px;
  border-radius: 4px;
  padding: 6px;
  font-size: 15px;
  color: white;
}
.sortable:not(.sort-asc):not(.sort-desc){
  .sort-indicator:before,.sort-indicator:after{
    border-color: white transparent !important;
    opacity: 1;
  }
}
.table{
  .ng-table-filters{
    display:none;
  }
  td{
    vertical-align: middle !important;
  }
  th.sort-asc,th.sort-desc{
    background: #ccc!important;
    color:#555!important;
    text-shadow: none!important;
  }
  .table-head,th.header{
    background: #aaa;
    height: 30px;
    padding: 6px;
    font-size: 15px;
    color: white;
    .borders{
      line-height: 10px;
      border-left: 1px solid white;
      padding-left: 5px;
    }
    .borders-right{
      line-height: 20px;
      border-right: 1px solid white;
      padding-right: 5px;
    }
  }
  tbody{
    color: #333;
    a{
      cursor: pointer;
      color: #F18E00;
    }
    td{
      .item{
        height: 10px;
        width: 10px;
      }
    }
  }
}
.title-modal{
  padding: 3%;
  right: 9%;
  position: relative;
}
form{
  fieldset{
    label{
      color:#888;
    }
  }
}