<section ng-controller="HomeController">
  <div class="jumbotron text-center" ng-if="isRol('admin')"><!-- ng-if="authentication.user" -->
    <div class="row">
      <p style="font-size: 30px;">
        <a href="https://drive.google.com/folderview?id=0B7htaMlL2o0kT3JNQmluWEc1Tms&usp=sharing_eid&ts=5671e6f9" target="_blank">DOCUMENTACIÓN</a>
      </p>
    </div>
    <div class="row">
      <p style="font-size: 30px;">
        <a href="https://www.pivotaltracker.com/n/projects/1523611" target="_blank">PIVOTAL TRACKER</a>
      </p>
    </div>
    <div class="row">
      <p style="font-size: 30px;">
        <a href="https://github.com/matamuchastegui/WebService" target="_blank">GITHUB</a>
      </p>
    </div>
    <div class="row">
      <p style="font-size: 30px;">
        <a href="http://52.36.173.82" target="_blank">DEV</a>
      </p>
    </div>
    <div class="row">
      <p style="font-size: 30px;">
        <a href="http://52.36.173.82/documentation" target="_blank">API</a>
      </p>
    </div>
  </div>
</section>
