<section ng-controller="HomesController" ng-init="find();">
  <div class="page-header">
    <h1>Homes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="home in homes" ui-sref="homes.view({homeId: home._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="home._id"></h4>
      <p class="list-group-item-text" ng-bind="$first?'ACTIVO':''"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="homes.$resolved && !homes.length">
    Todavía no hay homes, crea uno <a ui-sref="homes.create">aquí</a>
  </div>
</section>
