<section ng-controller="HomesController" ng-init="findOne();isActive()">
  <div class="page-header text-center">
    <h1 ng-bind="activo ? 'ACTIVO':'INACTIVO'"></h1>
    <a ng-if="!activo" class="btn btn-x" ng-click="activate();">
      <i class="glyphicon glyphicon-off"></i>
    </a>
  </div>
  <div class="row" style="padding:1%">
    <div class="row">
      <h1>Favoritos</h1>
      <div class="col-md-7" ng-repeat="fav in home.Favoritos">
        <div class="row">
          
          <div class="col-md-6" ng-bind="fav.Label"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-4" ng-repeat="item in fav.Items">
            <img class="img-thumbnail user-profile-picture" src="{{item.Image}}">
            <p><strong>Precio:</strong> ${{item.Precio}}</p>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="row">
      <h1>Banners</h1>
      <div class="col-md-4" ng-repeat="item in home.Banners">
          <img class="img-thumbnail user-profile-picture" src="{{item.Image}}">
          <input type="text" ng-model="item.Url">
        <hr/>
      </div>
    </div>
    <div class="row">
      <h1>Ofertas Destacadas</h1>
      <div class="col-md-4" ng-repeat="item in home.OfertasDestacadas">
          <img class="img-thumbnail user-profile-picture" src="{{item.Image}}">
          <p><strong>Url:</strong> {{item.Url}}</p>
        <hr/>
      </div>
    </div>

  <div class="pull-right" data-ng-show="authentication.user">
    <a class="btn btn-orange" id="edit" href="/homes/{{home._id}}/edit" uib-popover="Editar home" popover-trigger="mouseenter">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-orange" id="delete" data-ng-click="modalDelete(0);" uib-popover="Borrar home" popover-trigger="mouseenter">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>
