<section ng-controller="ProductosController" ng-init="find()">
  <div class="page-header">
    <h1>Productos</h1>
  </div>
  <table id="table-banners" class="table" data-ng-show="productos.length > 0" cellspacing="10">
    <thead class="table-head">
      <tr>
        <td><div class="borders-right">NombreProducto</div></td>
        <td><span>Descripcion</span></td>
        <td><span class="borders">Puntuacion</span></td>
        <td><span class="borders">PrecioLista</span></td>
        <td><span class="borders">Oferta</span></td>
        <td><span class="borders">Acciones</span></td>
      </tr>
    </thead>
    <tbody>
      <tr class="banner" data-ng-repeat="prod in productos">
        <td>
          <div class="borders-right">
            <span class="">{{prod.NombreProducto}}</span>
          </div>
        </td>
        <td>{{prod.Descripcion}}</td>
        <td><span class="borders">{{prod.Puntuacion}}</span></td>
        <td><span class="borders">$ {{prod.PrecioLista}}</span></td>
        <td><span class="borders">{{prod.Oferta?'Si':'No'}}</span></td>
        <td><span class="borders">
          <a class="editar" href="/productos/{{prod._id}}">
            <i class="glyphicon glyphicon-eye-open"></i>
          </a>
          <a class="editar" href="/productos/{{prod._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </span></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning text-center" ng-if="productos.$resolved && !productos.length">
    Todavía no hay productos, crea uno <a ui-sref="productos.create">aquí</a>
  </div>
</section>
