<section ng-controller="UsuariosController" ng-init="find()">
  <div class="page-header">
    <h1>Usuarios</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="usuario in usuarios" ui-sref="usuarios.view({usuarioId: usuario._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="usuario.created | date:'mediumDate'"></span>
        by
        <span ng-bind="usuario.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="usuario.title"></h4>
      <p class="list-group-item-text" ng-bind="usuario.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="usuarios.$resolved && !usuarios.length">
    No usuarios yet, why don't you <a ui-sref="usuarios.create">create one</a>?
  </div>
</section>
