<section ng-controller="ComerciosController">
  <div class="page-header">
    <h1>Nuevo Comercio</h1>
  </div>
  <div class="col-md-12">
    <form name="comercioForm" class="form-horizontal"  novalidate>
      <fieldset>
        <div class="row">
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="NombreComercio">Nombre del comercio</label>
            <input name="NombreComercio" type="text" ng-model="NombreComercio" id="NombreComercio" class="form-control" placeholder="NombreComercio" required>
            <div ng-messages="comercioForm.NombreComercio.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Nombre del comercio es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Slogan">Slogan</label>
            <input name="Slogan" type="text" ng-model="Slogan" id="Slogan" class="form-control" placeholder="Slogan" required>
            <div ng-messages="comercioForm.Slogan.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Slogan es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Email">Email</label>
            <input name="Email" type="email" ng-model="Email" id="Email" class="form-control" placeholder="Email" required>
            <div ng-messages="comercioForm.Email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Email es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Telefono">Teléfono</label>
            <input name="Telefono" type="text" ng-model="Telefono" id="Telefono" class="form-control" placeholder="Teléfono" required>
            <div ng-messages="comercioForm.Telefono.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Teléfono es requerido.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Web">Web</label>
            <input name="Web" type="url" ng-model="Web" id="Web" class="form-control" placeholder="Web">
            <div ng-messages="comercioForm.Web.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Web es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Facebook">Facebook</label>
            <input name="Facebook" type="url" ng-model="Facebook" id="Facebook" class="form-control" placeholder="Facebook" required>
            <div ng-messages="comercioForm.Facebook.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Facebook es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Twitter">Twitter</label>
            <input name="Twitter" type="url" ng-model="Twitter" id="Twitter" class="form-control" placeholder="Twitter" required>
            <div ng-messages="comercioForm.Twitter.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Twitter es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Instagram">Instagram</label>
            <input name="Instagram" type="url" ng-model="Instagram" id="Instagram" class="form-control" placeholder="Instagram" required>
            <div ng-messages="comercioForm.Instagram.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Instagram es requerido.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-3 col-sm-6 col-xs-12" show-errors>
            <label for="Direccion">Dirección</label>
            <input name="Direccion" type="text" ng-model="Direccion" id="Direccion" class="form-control" placeholder="Dirección" required>
            <div ng-messages="comercioForm.Direccion.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Dirección es requerido.</p>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12">
            <label class="control-label">Envíos a domicilio</label>
            <div class="checkbox">
              <label>
                <input type="radio" id="envioDomicilio" ng-value="true" data-ng-model="EnvioADomicilio" data-ng-disabled="readonly"> Sí
                <input type="radio" id="expandible" ng-value="false" data-ng-model="EnvioADomicilio" data-ng-disabled="readonly"> No
              </label>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12">
            <label class="control-label">Tarjetas de crédito</label>
            <div class="checkbox">
              <label>
                <span ng-repeat="tarjeta in Tarjetas">
                <input type="checkbox" id="visa" ng-value="true" data-ng-model="tarjeta.Acepta" data-ng-disabled="readonly"/> {{tarjeta.NombreTarjeta}}<br/>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="row mt2">
          <div class="row">
            <span class="checkbox">
              <strong>Lunes a Viernes</strong>
              <span class="col-md-offset-2">Horario de cortado
              <input type="radio" id="Horarios.LunesViernes.Cortado" ng-value="true" ng-change="changeCheck(Horarios.LunesViernes)" data-ng-model="Horarios.LunesViernes.Cortado" data-ng-disabled="readonly"> Sí
                <input type="radio" id="expandible" ng-value="false" ng-change="changeCheck(Horarios.LunesViernes)" data-ng-model="Horarios.LunesViernes.Cortado" data-ng-disabled="readonly"> No</span>
            </span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <label class="control-label">Desde</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.LunesViernes.DM" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <label class="control-label">Hasta</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.LunesViernes.HM" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="Horarios.LunesViernes.Cortado">
            <label class="control-label">Desde</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.LunesViernes.DT" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="Horarios.LunesViernes.Cortado">
            <label class="control-label">Hasta</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.LunesViernes.HT" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
        </div>
        <div class="row mt2">
          <div class="row">
            <span class="checkbox">
              <strong>Sábados</strong>
              <span class="col-md-offset-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Horario de cortado
              <input type="radio" id="Horarios.Sabado.Cortado" ng-value="true" ng-change="changeCheck(Horarios.Sabado)" data-ng-model="Horarios.Sabado.Cortado" data-ng-disabled="readonly"> Sí
                <input type="radio" id="expandible" ng-value="false" ng-change="changeCheck(Horarios.Sabado)" data-ng-model="Horarios.Sabado.Cortado" data-ng-disabled="readonly"> No</span>
            </span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <label class="control-label">Desde</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.Sabado.DM" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <label class="control-label">Hasta</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.Sabado.HM" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="Horarios.Sabado.Cortado">
            <label class="control-label">Desde</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.Sabado.DT" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="Horarios.Sabado.Cortado">
            <label class="control-label">Hasta</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.Sabado.HT" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
        </div>
        <div class="row mt2">
          <div class="row">
            <span class="checkbox">
              <strong>Domingos y feriados</strong>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Abierto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" id="DomingoFeriadoAbierto" ng-value="true" ng-init="DomingoFeriadoAbierto=true" data-ng-model="DomingoFeriadoAbierto" data-ng-disabled="readonly">
              </span>
              <span ng-if="DomingoFeriadoAbierto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Horario de cortado
              <input type="radio" id="Horarios.DomingoFeriado.Cortado" ng-value="true" ng-change="changeCheck(Horarios.DomingoFeriado)" data-ng-model="Horarios.DomingoFeriado.Cortado" data-ng-disabled="readonly"> Sí
                <input type="radio" id="expandible" ng-value="false" ng-change="changeCheck(Horarios.DomingoFeriado)" data-ng-model="Horarios.DomingoFeriado.Cortado" data-ng-disabled="readonly"> No</span>
            </span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="DomingoFeriadoAbierto">
            <label class="control-label">Desde</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.DomingoFeriado.DM" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="DomingoFeriadoAbierto">
            <label class="control-label">Hasta</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.DomingoFeriado.HM" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="DomingoFeriadoAbierto && Horarios.DomingoFeriado.Cortado">
            <label class="control-label">Desde</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.DomingoFeriado.DT" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-if="DomingoFeriadoAbierto && Horarios.DomingoFeriado.Cortado">
            <label class="control-label">Hasta</label>
            <div class="clearfix"></div>
            <uib-timepicker  show-spinners="false" data-ng-model="Horarios.DomingoFeriado.HT" date-format="dd-MMM-yyyy" ></uib-timepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ImagenesBanners}} 
          </div>
          <div ng-repeat="item in ImagenesBanners" class="col-md-3 miniatures">
            <img ng-src="{{item.Image}}" class="img-thumbnail user-profile-picture miniature"> 
            <input name="item.Url" type="url" ng-model="item.Url" class="form-control" placeholder="Url que linkea" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div data-ng-show="preview.UrlImageLogo || UrlImageLogo">
              <div class=" text-center" data-ng-show="UrlImageLogo">
                <img ng-src="{{UrlImageLogo}}" class="img-thumbnail user-profile-picture">
              </div>
              <div class=" text-center" data-ng-hide="UrlImageLogo">
                <img ng-src="{{preview.UrlImageLogo}}" class="img-thumbnail user-profile-picture">
              </div>
            </div>
            <div class="text-center " ng-hide="uploaderLogo.queue.length">
              <span class="btn btn-orange btn-file mt5">
                  Seleccione logo de comercio <input type="file" alias="asd" nv-file-select uploader="uploaderLogo">
              </span>
            </div>
            <div class="text-center " ng-show="uploaderLogo.queue.length">
              <a class="btn btn-ok" ng-click="uploadLogo();">
                <i class="glyphicon glyphicon-ok"></i>
              </a>
              <a class="btn btn-x" ng-click="cancelUploadLogo();UrlImageLogo=''">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div data-ng-hide="saving" nv-file-drop="" uploader="banners" filters="queueLimit, customFilter">
              <div ng-show="banners.isHTML5">
                <div class="col-md-12 btn btn-orange btn-file mt5" style="font-size: 14px;">
                  Cargar Banners<input type="file" nv-file-select="" uploader="banners" multiple/>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div data-ng-show="preview.UrlImageComercio || UrlImageComercio">
              <div class=" text-center" data-ng-show="UrlImageComercio">
                <img ng-src="{{UrlImageComercio}}" class="img-thumbnail user-profile-picture">
              </div>
              <div class=" text-center" data-ng-hide="UrlImageComercio">
                <img ng-src="{{preview.UrlImageComercio}}" class="img-thumbnail user-profile-picture">
              </div>
            </div>
            <div class="text-center " ng-hide="uploader.queue.length">
              <span class="btn btn-orange btn-file mt5">
                  Seleccione una imagen del comercio <input type="file" alias="asd" nv-file-select uploader="uploader">
              </span>
            </div>
            <div class="text-center " ng-show="uploader.queue.length">
              <a class="btn btn-ok" ng-click="uploadProfilePicture();">
                <i class="glyphicon glyphicon-ok"></i>
              </a>
              <a class="btn btn-x" ng-click="cancelUpload();UrlImageComercio=''">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div ng-show="success" class="text-center text-success col-md-12">
              <strong ng-bind="success"></strong>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
            <input type="submit" ng-click="create(comercioForm.$valid)"  value="CREAR" class="mt2 col-md-12 btn btn-orange" >
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
