<section ng-controller="ComerciosController">
  <div class="page-header">
    <h1>Nuevo Comercio</h1>
  </div>
  <div class="col-md-12">
    <form name="comercioForm" class="form-horizontal"  novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="NombreComercio">Nombre del comercio</label>
          <input name="NombreComercio" type="text" ng-model="NombreComercio" id="NombreComercio" class="form-control" placeholder="NombreComercio" required>
          <div ng-messages="comercioForm.NombreComercio.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre del comercio es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Slogan">Slogan</label>
          <input name="Slogan" type="text" ng-model="Slogan" id="Slogan" class="form-control" placeholder="Slogan" required>
          <div ng-messages="comercioForm.Slogan.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Slogan es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Email">Email</label>
          <input name="Email" type="email" ng-model="Email" id="Email" class="form-control" placeholder="Email" required>
          <div ng-messages="comercioForm.Email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Web">Web</label>
          <input name="Web" type="url" ng-model="Web" id="Web" class="form-control" placeholder="Web">
          <div ng-messages="comercioForm.Web.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Web es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Facebook">Facebook</label>
          <input name="Facebook" type="url" ng-model="Facebook" id="Facebook" class="form-control" placeholder="Facebook" required>
          <div ng-messages="comercioForm.Facebook.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Facebook es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Twitter">Twitter</label>
          <input name="Twitter" type="url" ng-model="Twitter" id="Twitter" class="form-control" placeholder="Twitter" required>
          <div ng-messages="comercioForm.Twitter.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Twitter es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Instagram">Instagram</label>
          <input name="Instagram" type="url" ng-model="Instagram" id="Instagram" class="form-control" placeholder="Instagram" required>
          <div ng-messages="comercioForm.Instagram.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Instagram es requerido.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Envíos a domicilio</label>
            <div class="checkbox">
              <label>
                <input type="radio" id="envioDomicilio" ng-value="true" data-ng-model="EnvioADomicilios" data-ng-disabled="readonly"> Sí
                <input type="radio" id="expandible" ng-value="false" data-ng-model="EnvioADomicilios" data-ng-disabled="readonly"> No
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div data-ng-show="preview.UrlImageLogo.url || UrlImageLogo.url">
            <div class="form-group text-center" data-ng-show="UrlImageLogo.url">
              <img ng-src="{{UrlImageLogo.url}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="form-group text-center" data-ng-hide="UrlImageLogo.url">
              <img ng-src="{{preview.UrlImageLogo.url}}" class="img-thumbnail user-profile-picture">
            </div>
          </div>
          <div class="text-center form-group" ng-hide="uploaderLogo.queue.length">
            <span class="btn btn-orange btn-file mt5">
                Seleccione logo de comercio <input type="file" alias="asd" nv-file-select uploader="uploaderLogo">
            </span>
          </div>
          <div class="text-center form-group" ng-show="uploaderLogo.queue.length">
            <a class="btn btn-ok" ng-click="uploadLogo();">
              <i class="glyphicon glyphicon-ok"></i>
            </a>
            <a class="btn btn-x" ng-click="cancelUploadLogo();UrlImageLogo.url=''">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div data-ng-show="preview.UrlImageComercio.url || UrlImageComercio.url">
            <div class="form-group text-center" data-ng-show="UrlImageComercio.url">
              <img ng-src="{{UrlImageComercio.url}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="form-group text-center" data-ng-hide="UrlImageComercio.url">
              <img ng-src="{{preview.UrlImageComercio.url}}" class="img-thumbnail user-profile-picture">
            </div>
          </div>
          <div class="text-center form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-orange btn-file mt5">
                Seleccione una imagen del comercio <input type="file" alias="asd" nv-file-select uploader="uploader">
            </span>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <a class="btn btn-ok" ng-click="uploadProfilePicture();">
              <i class="glyphicon glyphicon-ok"></i>
            </a>
            <a class="btn btn-x" ng-click="cancelUpload();UrlImageComercio.url=''">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </div>
        </div>
        <div ng-show="success" class="text-center text-success col-md-12">
            <strong ng-bind="success"></strong>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" ng-click="create(comercioForm.$valid)" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
