<section ng-controller="ComerciosController" ng-init="findOne()">
  <div class="page-header">
    <h1>Actualizar Comercio</h1>
  </div>
  <div class="col-md-12">
    <form name="comercioForm" class="form-horizontal"  novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="NombreComercio">Nombre del comercio</label>
          <input name="NombreComercio" type="text" ng-model="comercio.NombreComercio" id="NombreComercio" class="form-control" placeholder="NombreComercio" required>
          <div ng-messages="comercioForm.NombreComercio.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre del comercio es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Slogan">Slogan</label>
          <input name="Slogan" type="text" ng-model="comercio.Slogan" id="Slogan" class="form-control" placeholder="Slogan" required>
          <div ng-messages="comercioForm.Slogan.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Slogan es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Email">Email</label>
          <input name="Email" type="email" ng-model="comercio.Email" id="Email" class="form-control" placeholder="Email" required>
          <div ng-messages="comercioForm.Email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Web">Web</label>
          <input name="Web" type="url" ng-model="comercio.Web" id="Web" class="form-control" placeholder="Web">
          <div ng-messages="comercioForm.Web.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Web es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Facebook">Facebook</label>
          <input name="Facebook" type="url" ng-model="comercio.Facebook" id="Facebook" class="form-control" placeholder="Facebook" required>
          <div ng-messages="comercioForm.Facebook.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Facebook es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Twitter">Twitter</label>
          <input name="Twitter" type="url" ng-model="comercio.Twitter" id="Twitter" class="form-control" placeholder="Twitter" required>
          <div ng-messages="comercioForm.Twitter.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Twitter es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="Instagram">Instagram</label>
          <input name="Instagram" type="url" ng-model="comercio.Instagram" id="Instagram" class="form-control" placeholder="Instagram" required>
          <div ng-messages="comercioForm.Instagram.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Instagram es requerido.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Envíos a domicilio</label>
            <div class="checkbox">
              <label>
                <input type="radio" id="envioDomicilio" ng-value="true" data-ng-model="comercio.EnvioADomicilio" data-ng-disabled="readonly"> Sí
                <input type="radio" id="expandible" ng-value="false" data-ng-model="comercio.EnvioADomicilio" data-ng-disabled="readonly"> No
              </label>
            </div>
          </div>
        </div>
        {{preview.UrlImageLogo}} -- {{comercio.UrlImageLogo}}
        <div class="col-md-6">
          <div data-ng-show="preview.UrlImageLogo || comercio.UrlImageLogo">
            <div class="form-group text-center" data-ng-show="comercio.UrlImageLogo">
              <img ng-src="{{comercio.UrlImageLogo}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="form-group text-center" data-ng-hide="comercio.UrlImageLogo">
              <img ng-src="{{preview.UrlImageLogo}}" class="img-thumbnail user-profile-picture">
            </div>
          </div>
          <div class="text-center form-group" ng-hide="uploaderLogo.queue.length">
            <span class="btn btn-orange btn-file mt5">
                Seleccione logo de comercio <input type="file" name="UrlImageLogo" alias="asd" nv-file-select uploader="uploaderLogo" required="La imagen es requerida">
            </span>
          </div>
          <div ng-messages="comercioForm.UrlImageLogo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Logo requerido.</p>
          </div>
          <div class="text-center form-group" ng-show="uploaderLogo.queue.length">
            <a class="btn btn-ok" ng-click="uploadLogo();">
              <i class="glyphicon glyphicon-ok"></i>
            </a>
            <a class="btn btn-x" ng-click="cancelUploadLogo();comercio.UrlImageLogo=''">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div data-ng-show="preview.UrlImageComercio || comercio.UrlImageComercio">
            <div class="form-group text-center" data-ng-show="comercio.UrlImageComercio">
              <img ng-src="{{comercio.UrlImageComercio}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="form-group text-center" data-ng-hide="comercio.UrlImageComercio">
              <img ng-src="{{preview.UrlImageComercio}}" class="img-thumbnail user-profile-picture">
            </div>
          </div>
          <div class="text-center form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-orange btn-file mt5">
                Seleccione una imagen del comercio <input type="file" name="UrlImageComercio" alias="asd" nv-file-select uploader="uploader" required>
            </span>
          </div>
          <div ng-messages="comercioForm.UrlImageComercio.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Imagen del comercio requerido.</p>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <a class="btn btn-ok" ng-click="uploadProfilePicture();">
              <i class="glyphicon glyphicon-ok"></i>
            </a>
            <a class="btn btn-x" ng-click="cancelUpload();comercio.UrlImageComercio=''">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </div>
        </div>
        <div ng-show="success" class="text-center text-success col-md-12">
            <strong ng-bind="success"></strong>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <input type="submit" ng-click="update(comercioForm.$valid)"  value="ACTUALIZAR" class="col-md-12 btn btn-orange" >
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
