<div class="modal-header">
    <h3 class="modal-title">Progreso de subida de archivos</h3>
</div>
<fieldset>
    <div class="container-fluid">
        <div class="col-md-12" style="margin-bottom: 40px">
            <p>Archivos en cola: {{ uploader.queue.length ? uploader.queue.length : banners.queue.length }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Nombre</th>
                        <th>Progreso</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody ng-if="uploader.queue">
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="banners.queue">
                    <tr ng-repeat="item in banners.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button class="btn btn-default" data-ng-show="uploader.queue.ready || banners.queue.ready" data-ng-click="closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
</fieldset>

